/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/

# rspec failure tracking
.rspec_status

# testing csv file
/spec/testing.csv
testdata/*.xml

/bbbevents-*
/pec

# result of the example script
/data.csv
/data.json
